<ion-content>
    <div class="login__container">
        <ion-input
            [(ngModel)]="loginControlValue"
            label="Введите логин"
            placeholder="Логин"
            [required]="true"
            fill="outline"
            mode="md"
            label-placement="stacked"></ion-input>
        <ion-input
            [(ngModel)]="passwordControlValue"
            label="Введите пароль"
            placeholder="Пароль"
            [required]="true"
            fill="outline"
            mode="md"
            type="password"
            label-placement="stacked"></ion-input>
        <ion-button [disabled]="!loginControlValue || !passwordControlValue" (click)="login()">Войти</ion-button>
        <div (click)="goToRegister()">Создать аккаунт</div>
    </div>
</ion-content>