<app-header [title]="track.name"></app-header>
<ion-content>
    <div>
        <ion-list [inset]="true">
            <div class="track-info-page__group-label">Список лекций</div>
            <ng-container *ngFor="let lecture of lectureList$ | async as list">
                <ion-item button detail="true" detail-icon="caret-forward-outline" (click)="gotToLecture(lecture)">{{lecture.name}}</ion-item>
            </ng-container>
            <ion-button class="track-info-page__add-button" (click)="addLecture()">Добавить лекцию</ion-button>
        </ion-list>
        <ion-list [inset]="true">
            <div class="track-info-page__group-label">Список тестов</div>
            <ng-container *ngFor="let test of testList$ | async as list">
                <ion-item>{{test.name}}</ion-item>
            </ng-container>
            <ion-button class="track-info-page__add-button" (click)="addTest()">Добавить тест</ion-button>
        </ion-list>
    </div>
    <ion-modal [isOpen]="isAddModalOpen$ | async">
        <ng-template>
            <add-lecture-modal *ngIf="isLectureAdd" (newLectureAdd)="loadLectures()" (closeModal)="closeModal()" [trackId]="track.id"></add-lecture-modal>
            <div *ngIf="!isLectureAdd">!isLectureAdd</div>
        </ng-template>
    </ion-modal>
</ion-content>