<app-header [title]="track.name"></app-header>
<ion-content>
    <div>
        <ion-list [inset]="true">
            <div class="track-info-page__group-label">Список лекций</div>
            <ng-container *ngFor="let lecture of lectureList$ | async as list; let index = index">
                <ion-item
                    button
                    detail="true"
                    class="track-info-page__item"
                    detail-icon="caret-forward-outline"
                    [color]="lecture.passed ? 'success' : 'light'"
                    (click)="gotToLecture(lecture, index)">{{lecture.name}}</ion-item>
            </ng-container>
            <ion-button *ngIf="isCreator" class="track-info-page__add-button" (click)="addLecture()">Добавить лекцию</ion-button>
        </ion-list>
        <ion-list [inset]="true">
            <div class="track-info-page__group-label">Список тестов</div>
            <ng-container *ngFor="let test of testList$ | async as list">
                <ion-item
                    button
                    detail="true"
                    class="track-info-page__item"
                    detail-icon="caret-forward-outline"
                    [color]="test.passed ? 'success' : 'light'"
                    (click)="goToTest(test)">{{test.name}}</ion-item>
            </ng-container>
            <ion-button *ngIf="isCreator" class="track-info-page__add-button" (click)="addTest()">Добавить тест</ion-button>
        </ion-list>
    </div>
    <ion-modal [isOpen]="isAddModalOpen$ | async">
        <ng-template>
            <add-lecture-modal *ngIf="isLectureAdd" (newLectureAdd)="loadLectures()" (closeModal)="closeModal()" [trackId]="track.id"></add-lecture-modal>
            <add-test-modal *ngIf="!isLectureAdd" (newTestAdd)="loadTests()" (closeModal)="closeModal()" [trackId]="track.id"></add-test-modal>
        </ng-template>
    </ion-modal>
</ion-content>