<app-header [title]="'Список курсов'"></app-header>
<ion-content>
    <ng-container *ngFor="let track of trackList$ | async">
        <track-list-item [model]="track"></track-list-item>
    </ng-container>
    <ion-button *ngIf="isCreator" class="track-list-page__add-button" (click)="openModal()">Добавить курс</ion-button>
    <ion-modal [isOpen]="isAddTrackModalOpen$ | async" (didDismiss)="closeModal()">
        <ng-template>
            <add-track-modal (newTrackAdd)="loadTrackList()" (closeModal)="closeModal()"></add-track-modal>
        </ng-template>
    </ion-modal>
</ion-content>
