<app-header [title]="test.name"></app-header>
<ion-content>
    <ion-list>
        <ng-container *ngFor="let question of questions$ | async; let index = index">
            <question [model]="question" (valueChange)="setResult($event, question.id)"></question>
        </ng-container>
    </ion-list>
    <ion-button *ngIf="!isCreator"class="test-page__button" [disabled]="checkAnswersDisabled" (click)="checkResults()">Отправить на проверку</ion-button>
    <ion-button *ngIf="isCreator" class="test-page__button" (click)="openModal()">Добавить вопрос</ion-button>
    <ion-button class="test-page__button" (click)="goToTrack()">Вернуться к курсу</ion-button>
    <ion-button
        *ngIf="isCreator"
        class="test-page__button"
        (click)="deleteTest()"
        [color]="'danger'">Удалить тест</ion-button>
    <ion-modal [isOpen]="isAddModalOpen$ | async" (didDismiss)="closeModal()">
        <ng-template>
            <add-question-modal
                [testId]="test.id"
                (newQuestionAdd)="loadQuestions()"
                (closeModal)="closeModal()"></add-question-modal>
        </ng-template>
    </ion-modal>
</ion-content>