.add-question-modal {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 30px 30px 30px;
    }

    &__close {
        align-self: end;
        font-size: 25px;
        &:hover {
            cursor: pointer;
        }
    }
}