<ion-content>
    <div class="registration__container">
        <ion-input
            [(ngModel)]="nameControlValue"
            label="Введите ФИО"
            placeholder="ФИО"
            fill="outline"
            [required]="true"
            mode="md"
            label-placement="stacked"></ion-input>
        <ion-select
            [(ngModel)]="roleControlValue"
            label="Введите роль"
            interface="popover"
            placeholder="Роль"
            [required]="true"
            fill="outline"
            mode="md"
            label-placement="stacked">
            <ion-select-option *ngFor="let option of roleSelectControlOptions" [value]="option.role">
                {{option.name}}
            </ion-select-option>
        </ion-select>
        <ion-input
            [(ngModel)]="loginControlValue"
            label="Придумайте логин"
            placeholder="Логин"
            [required]="true"
            fill="outline"
            mode="md"
            label-placement="stacked"></ion-input>
        <ion-input
            [(ngModel)]="passwordControlValue"
            label="Придумайте пароль"
            placeholder="Пароль"
            [required]="true"
            fill="outline"
            mode="md"
            type="password"
            label-placement="stacked"></ion-input>
        <ion-button (click)="register()"
                    [disabled]="!loginControlValue || !passwordControlValue || !nameControlValue || !roleSelectControlOptions">
            Зарегистрироваться
        </ion-button>
        <div (click)="goToLogin()">Уже есть аккаунт</div>
    </div>
</ion-content>