.track-info-page {
    &__group-label {
        margin: 10px 0;
        font-size: 18px;
    }

    &__add-button {
        maring-top: 10px;
    }

    &__item {
        border-radius: 4px;
        margin-bottom: 5px;
    }

    &__delete-button {
        padding-left: 16px;
    }
}